:root {
  --bg-color: rgb(16, 20, 24);
  --primary-color: rgb(232, 209, 82);
  --sidebar-width: 16%;
}


.App {
  text-align: center;
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  margin: 0; /* Remove any default margin */
}

/* NAVBAR STYLING */

/* Set the height of the navbar to 10% of the screen */
header {
  height: 10vh;
  width: 100%; /* Occupy the entire width of the screen */
}

.pages{
  min-height: 90vh;
}