:root {
  --bg-color: rgb(16, 20, 24);
  --primary-color: rgb(232, 209, 82);
  --sidebar-width: 16%;
}


.App {
  text-align: center;
  min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
  margin: 0; /* Remove any default margin */
}

/* NAVBAR STYLING */

/* Set the height of the navbar to 10% of the screen */
header {
  height: 10vh;
  width: 100%; /* Occupy the entire width of the screen */
}

/* Style the navbar */
.navbar {
  border-bottom-color: rgba(194, 224, 255, 0.08);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 75%;
}

.pages{
  min-height: 90vh;
}

/* SIGN IN FORM STYLING */
.form-wrapper{
  padding: 0.7%;
  margin-top: 3vh;
  margin-left: 36vw;
  margin-right: 36vw;

  border-radius: 12px;
  border-color: rgba(59, 74, 89, 0.2);
  border-style: solid;
  border-width: 2px;
  color: white;
}

.form-header-wrapper{
  /* background-color: rgb(51, 118, 232); */
  background-color: var(--primary-color);
  text-align: left;
  padding: 3%;
}

.form-header{
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-left: 1%;
  color: black;
}

.form-body{
  padding: 5% 4%;
}

.signin-input{
  display: grid;
  margin-bottom: 6%;
  color: var(--primary-color);
}

.signin-input label {
  text-align: left;
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 2%;
}

.signin-input abbr {
  margin-left: 1%;
  font-size: medium;
  color: #d40303;
}

.signin-textbox {
  border-radius: 2px;
  border: 1px solid rgba(194, 224, 255, 0.08);
  height: 4.5vh;
  padding: 2% 3%;
  background-color: #1c2025;
  font-size: 2.7vh;
  color: white;
}

.signin-links {
  display: flex;
  margin-top: -6%;
  margin-bottom: 6%;
}

.signin-links-forgot{
  margin-top: 1%;
  text-align: left;
  text-decoration: none;
  font-size: 85%;
  color: var(--primary-color);
}

.form-submit {
  display: flex;
  align-items: center;
  height: 10%;
}

.form-submit button {
  color: black;
  background: var(--primary-color);
  border: 3px solid var(--primary-color);
  border-radius: 2px;
  padding: 2% 3%;
  font-weight: bold;
}

.form-redirect {
  margin-top: 5%;
  text-align: left;
  text-decoration: none;
}

.form-redirect a {
  text-decoration: none;
  color: var(--primary-color);
}

.home-page-wrapper {
  display: flex;
}

.home-sidebar {
  flex: 0 0 var(--sidebar-width); /* Set the left column to take up 18% of the available space */
  /* background-color: rgb(25, 25, 32); */
  background-color: var(--bg-color);
  border-color: rgba(194, 224, 255, 0.08) rgba(194, 224, 255, 0.08);
  border-style: solid;
  border-width: 0 1px 1px 0;
  min-height: 93vh;
}

.home-content-wrapper {
  width: 100%;
  margin-right: var(--sidebar-width);
  margin-left: calc(var(--sidebar-width) * 0.5);
}

.home-content {
  flex: 1; /* Set the right column to take up the remaining space */
  padding: 20px; /* Add padding for content */
  flex-direction: column;
  color: rgb(243, 246, 249);
}

.home-header-wrapper {
  display: flex;
  align-items: left;
}

.home-image-upload {
  display: flex;
  align-items: left;
  margin-top: 2%;
}

.home-image-selector {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* IMAGE SELECT */

.image-select svg {
  fill: var(--primary-color);
}

.image-select fieldset {
  border: none;
}

/* IMAGE UPLOAD */
.upload-image{
  display: flex;
  align-items: center;
  gap: 5%;
}